h1{
    color: seagreen;
    font-size: 60px;
}
h2{
    color: saddlebrown;
    font-size: 45px;
}
h3{
    color: black;
    font-size: 30px;
}
p{
    color: black;
    font-size: 20px;
}
p1{
    color: black;
    font-size: 20px;
}
ul{
    color: black;
    font-size: 20px;
}